{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} {% block content %}

<div class="profile-page">
  <div class="profile-card-modern">
    <!-- HEADER -->
    <div class="profile-top">
      <div class="profile-avatar-modern">
        <img
          src="{{ user.profile.avatar.url|default:'/avatars/default-avatar.jpg' }}"
          alt="Avatar"
        />
      </div>

      <h2>{{ user.username }}</h2>

      <p class="profile-role">{{ user.role }}</p>

      <a href="{% url 'edit_profile' %}" class="profile-edit-btn">
        <i class="fa-solid fa-pen"></i>
        Edit Profile
      </a>
    </div>

    <!-- INFO -->
    <div class="profile-grid">
      <div class="profile-info-card">
        <span>Full Name</span>
        <strong style="color: rgba(0, 0, 0, 0.801)"
          >{{ user.get_full_name|default:"Not provided" }}</strong
        >
      </div>

      <div class="profile-info-card">
        <span>Email</span>
        <strong style="color: rgba(0, 0, 0, 0.801)">{{ user.email }}</strong>
      </div>

      <div class="profile-info-card">
        <span>ID</span>
        <strong style="color: rgba(0, 0, 0, 0.801)"
          >{{ user.custom_id }}</strong
        >
      </div>

      <div class="profile-info-card">
        <span>College</span>
        <strong style="color: rgba(0, 0, 0, 0.801)"
          >{{ user.college|default:"-" }}</strong
        >
      </div>

      <div class="profile-info-card">
        <span>Phone</span>
        <strong style="color: rgba(0, 0, 0, 0.801)"
          >{{ user.profile.phone|default:"-" }}</strong
        >
      </div>

      <div class="profile-info-card full-card">
        <span>Bio</span>
        <strong style="color: rgba(0, 0, 0, 0.801)">
          {{ user.profile.bio|default:"No bio provided yet." }}
        </strong>
      </div>
    </div>
  </div>
</div>

{% endblock %}
