{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">All Courses</h2>

  {% if courses %}
    <div class="list-group">
      {% for course in courses %}
        <a href="{% url 'course_detail' course.id %}" class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-1">{{ course.name }}</h5>
            </div>
            <span class="badge bg-primary">{{ course.code  }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No courses available.</p>
  {% endif %}



  {% if user.is_authenticated and user.role == "admin" %}
    <a href="{% url 'courseInfo_list' %}" class="btn btn-warning mt-4">back to Available Courses</a>
    
    <a href="{% url 'course_create' %}" class="btn btn-success mt-4">Add New Course</a>
  {% endif %}
</div>
{% endblock %}
