{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock %} {% block content %}
<div class="delete-course-wrapper">
  <div class="delete-course-card">
    <h2 class="delete-heading">Delete Course</h2>
    <p class="delete-warning">
      Are you sure you want to delete the course:
      <strong>{{ object.name }}</strong> ({{ object.code }})?
    </p>

    <form method="post" class="delete-form">
      {% csrf_token %}
      <button type="submit" class="btn-delete-confirm">Yes, Delete</button>
      <a href="{% url 'courses_list' %}"" class="btn-cancel">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
