{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock %} {% block content %}
<div class="course-container">
  <div class="top-icons">
    {% if user.is_authenticated and user.role == "admin" %}
    <a
      href="{% url 'courseInfo_list' %}"
      class="icon-btn yellow"
      title="Available Courses"
    >
      <i class="fa-solid fa-book"></i>
    </a>
    <a
      href="{% url 'course_create' %}"
      class="icon-btn green"
      title="Add New Course"
    >
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
    {% endif %}
  </div>

  <h2 class="course-title">All Courses</h2>

  {% if courses %}
  <div class="course-list">
    {% for course in courses %}
    <a href="{% url 'course_detail' course.id %}" class="course-card">
      <div class="course-header">
        <div class="course-code">{{ course.code }}</div>
        <div class="badge-status">View</div>
      </div>
      <p>{{ course.name }}</p>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <p class="no-courses">No courses available.</p>
  {% endif %}
</div>
{% endblock %}
