{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock %} {% block content %}
<div class="course-detail-wrapper">
  <div class="course-detail-card">
    <h2 class="course-code">{{ course.code }}</h2>
    <p><strong>Course Name:</strong> {{ course.name }}</p>
    <p><strong>College:</strong> {{ course.get_college_display }}</p>
  </div>

  <div class="course-buttons">
    <a href="{% url 'courses_list' %}" class="btn-gray">← Back</a>

    {% if user.role == 'admin' %}
    <a href="{% url 'course_edit' course.pk %}" class="btn-red">Edit</a>
    <a href="{% url 'course_delete' course.pk %}" class="btn-danger">Delete</a>
    {% endif %}
  </div>
</div>
{% endblock %}
