{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock %} {% block content %}
<div class="course-container">
  <h2 class="course-title">Course Registration</h2>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <h3 class="section-title">Available Courses</h3>
  {% if available_courses %}
  <div class="course-list">
    {% for course in available_courses %}
    <div class="course-card">
      <div class="course-header">
        <span class="course-code">{{ course.course.code }}</span>
        <span class="badge-status">{{ course.get_status_display }}</span>
      </div>
      <div class="course-info">
        <p><strong>Course Name:</strong> {{ course.course.name }}</p>
        <p><strong>Teacher:</strong> {{ course.teacher.get_full_name }}</p>
        <p><strong>Year:</strong> {{ course.year }}</p>
        <p><strong>Semester:</strong> {{ course.get_semester_display }}</p>
        <p><strong>College:</strong> {{ course.course.get_college_display }}</p>
        <p><strong>Class:</strong> {{ course.class_name }}</p>

        <p><strong>Capacity:</strong> {{ course.capacity }}</p>
        <p>
          <strong>enrollments:</strong> {{ course.enrollments.count|default:0 }}
        </p>

        <p>
          <strong>Session Type:</strong> {{ course.get_session_type_display }}
        </p>

        <p><strong>Days:</strong> {{ course.get_days_display }}</p>
        <p><strong>Status:</strong> {{ course.get_status_display }}</p>
        <p><strong>Start Time:</strong> {{ course.start_time }}</p>
        <p><strong>End Time:</strong> {{ course.end_time }}</p>
      </div>
      <form method="POST" class="form-actions">
        {% csrf_token %}
        <input type="hidden" name="course_info_id" value="{{ course.id }}" />
        <button type="submit" class="btn-red">Register</button>
      </form>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="no-courses">
    No available courses or you reached the maximum limit.
  </p>
  {% endif %}

  <hr />

  <h3 class="section-title">Your Registered Courses</h3>
  {% if registered_courses %}
  <ul class="course-list">
    {% for reg in registered_courses %}
    <li class="course-card">
      <strong>{{ reg.course.code }} - {{ reg.course.name }} </strong>
      <p>
        Time :{{ reg.courseInfo.start_time }} : {{ reg.courseInfo.end_time }}
      </p>
      <p>Days :{{ reg.courseInfo.get_days_display }}</p>

      <p>{{ reg.course.get_days_display }}</p>
      <form
        method="POST"
        action="{% url 'drop_course' reg.id %}"
        class="form-actions"
        style="margin-top: 10px"
      >
        {% csrf_token %}
        <button
          type="submit"
          class="btn-gray"
          onclick="return confirm('Are you sure you want to drop this course?')"
        >
          Drop
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="no-courses">You have not registered for any courses yet.</p>
  {% endif %}
</div>
{% endblock %}
