<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}UniAccess{% endblock %}</title>
</head>
<body>
    <nav class="navbar-container">
        <ul class="navbar-links">
             {% if user.is_authenticated %}
             <li><a href="{% url 'home' %}">HOME</a></li>
             <li>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="navbar-link logout-btn">Log Out</button>
                    </form>
                </li>

             {% else %}


             <li><a href="{% url 'signup' %}">Sign Up</a></li>
             <li><a href="{% url 'login' %}">Log In</a></li>
             {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>
    <footer>
        <div class="footer">
            <div class="row">
                UniAccess Copyright © 2025 UniAccess - All rights reserved 
            </div>
        </div>
    </footer>
</body>
</html>
