{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} {% block content %}
<div class="profile-wrapper">
  <div class="profile-card">
    <div class="profile-avatar">
      <img
        src="{{ user.profile.avatar.url|default:'/static/images/default-avatar.png' }}"
        alt="Avatar"
      />
    </div>

    <h3 class="profile-username">{{ user.username }}</h3>

    <a href="{% url 'edit_profile' %}" class="edit-btn">Edit Profile</a>

    <div class="profile-info-box">
      <strong>Full name</strong> {{ user.get_full_name }}
    </div>
    <div class="profile-info-box"><strong>Email</strong> {{ user.email }}</div>
    <div class="profile-info-box"><strong>Role</strong> {{ user.role }}</div>
    <div class="profile-info-box"><strong>ID</strong> {{ user.custom_id }}</div>
    <div class="profile-info-box">
      <strong>Phone</strong> {{ user.profile.phone|default:'-' }}
    </div>
    <div class="profile-info-box">
      <strong>Bio</strong> {{ user.profile.bio|default:'No bio provided.' }}
    </div>
  </div>
</div>
{% endblock %}
