{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock %} {% block content %}
<div class="course-detail-wrapper">
  <div class="course-detail-card">
    <h2 class="course-code">{{ course.course.code }}</h2>
    <p><strong>Course Name:</strong> {{ course.course.name }}</p>
    <p><strong>Teacher:</strong> {{ course.teacher.get_full_name }}</p>
    <p><strong>Year:</strong> {{ course.year }}</p>
    <p><strong>Semester:</strong> {{ course.get_semester_display }}</p>
    <p><strong>College:</strong> {{ course.course.get_college_display }}</p>
    <p><strong>Class:</strong> {{ course.class_name }}</p>

    <p><strong>Capacity:</strong> {{ course.capacity }}</p>
    <p>
      <strong>enrollments:</strong> {{ course.enrollments.count|default:0 }}
    </p>

    <p><strong>Session Type:</strong> {{ course.get_session_type_display }}</p>

    <p><strong>Days:</strong> {{ course.get_days_display }}</p>
    <p><strong>Status:</strong> {{ course.get_status_display }}</p>
    <p><strong>Start Time:</strong> {{ course.start_time }}</p>
    <p><strong>End Time:</strong> {{ course.end_time }}</p>
  </div>

  <div class="course-buttons">
    <a href="{% url 'courseInfo_list' %}" class="btn-gray">← Back</a>
    {% if user.role == 'admin' %}
    <a href="{% url 'courseInfo_edit' course.pk %}" class="btn-red">Edit</a>
    <a href="{% url 'courseInfo_delete' course.pk %}" class="btn-danger"
      >Delete</a
    >
    {% endif %}
  </div>
</div>
{% endblock %}
