{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
{% endblock %} {% block content %}
<div class="course-container">
  <!-- TOP ACTION ICON BUTTONS -->
  {% if user.is_staff or user.is_superuser %}
  <div class="top-icons">
    <a
      href="{% url 'courses_list' %}"
      class="icon-btn yellow"
      title="Manage Courses"
    >
      <i class="fa-solid fa-book"></i>
    </a>
    <a
      href="{% url 'courseInfo_create' %}"
      class="icon-btn green"
      title="Add Course"
    >
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
  </div>
  {% endif %}

  <!-- TITLE -->
  <h2 class="course-title">Available Courses</h2>

  <!-- COURSE LIST -->
  {% if course %}
  <div class="course-list">
    {% for course in course %}
    <a href="{% url 'courseInfo_detail' course.id %}" class="course-card">
      <div class="course-header">
        <span class="course-code">{{ course.course.code }}</span>
        <p>{{ course.semester }} / {{ course.year }}</p>
        <span class="badge-status">{{ course.get_status_display }}</span>
      </div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <p class="no-courses">No courses available.</p>
  {% endif %}

  <!-- BOTTOM STUDENT ACTION -->
  {% if user.is_authenticated and user.role == "student" %}
  <div class="course-actions">
    <a href="{% url 'register_course' %}" class="btn-red"
      >Register for a Course</a
    >
  </div>
  {% endif %}
</div>
{% endblock %}
