{% extends 'base.html' %} {% block styles %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

{% endblock %} {% block content %}
<div class="course-detail-wrapper">
  <div class="course-detail-card">
    <h2 class="course-code">{{ course.course.code }}</h2>

    <div class="course-detail-item">
      <span class="label">Course Name :</span>
      <span class="value">{{ course.course.name }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Teacher :</span>
      <span class="value">{{ course.teacher.get_full_name }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Year :</span>
      <span class="value">{{ course.year }}</span>
    </div>
    <div class="course-detail-item">
      <span class="label">Semester :</span>
      <span class="value">{{ course.get_semester_display }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">College :</span>
      <span class="value">{{ course.course.get_college_display }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Class :</span>
      <span class="value">{{ course.class_name }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Section :</span>
      <span class="value">{{ course.section }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Capacity :</span>
      <span class="value">{{ course.capacity }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">enrollments :</span>
      <span class="value">{{ course.enrollments.count|default:0 }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Session Type :</span>
      <span class="value">{{ course.get_session_type_display }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Days :</span>
      <span class="value">{{ course.get_days_display }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Status :</span>
      <span class="value">{{ course.get_status_display }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">Start Time :</span>
      <span class="value">{{ course.start_time }}</span>
    </div>

    <div class="course-detail-item">
      <span class="label">End Time :</span>
      <span class="value">{{ course.end_time }}</span>
    </div>
  </div>

  <div class="course-buttons">
    <a href="{% url 'courseInfo_list' %}" class="btn-gray">← Back</a>

    {% if user.role == "admin" or user.is_superuser %}
    <a href="{% url 'courseInfo_edit' course.pk %}" class="btn btn-danger">
      Edit
    </a>

    <form
      method="post"
      action="{% url 'courseInfo_delete' course.pk %}"
      class="d-inline"
    >
      {% csrf_token %}
      <a
        href="#"
        class="btn btn-danger"
        onclick="
          if (confirm('Are you sure you want to delete this course section?'))
            this.closest('form').submit()
          return false
        "
      >
        Delete
      </a>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
